<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!--jquery가 없으면 어차피 부트스트랩이 동작하지 않기 때문에 jquery를 먼저 호출한다-->

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--부트스트랩 사용을 위해 필수 의존성인 jquery다음에 호출한다-->

<script src="/js/app/index.js"></script>
<!--js용량이 클 수 있기 때문에 가장 뒤에 둔다 -->

</body>
</html>