<!DOCTYPE HTML>
<html>
<head>
    <title>스프링부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!--CSS를 헤더에 두는 이유는 깨진 화면을 보이지 않게끔 하려는 의도와 동시에 js의 용량이 크면 클수록 body 로딩이 지연되므로 js는 푸터에 두자 -->
</head>
<body>